/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif, 'Righteous', cursive;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html {
    overflow-x: hidden;
}

body {
    background: #000000;
    color: #ededed;

}

/* Style Awal Navbar */
div .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    transition: .5s;
}

.header.sticky {
    background: #000;
    box-shadow: 0 .1rem 1rem #fff;
}

.logo {
    font-size: 25px;
    color: #9AF226;
    text-decoration: none;
    font-weight: 400 36px;
    transition: .3s;
    font-family: 'Righteous', cursive;
    transition: transform .4s;
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    -ms-transition: transform .4s;
    -o-transition: transform .4s;
}

.logo:hover {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);

}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #9AF226;

}

.btn-int {
    background-color: #9AF226;
    color: #ffff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 18px;
    transition: transform .4s;
    -webkit-transition: transform .4s;
    -moz-transition: transform .4s;
    -ms-transition: transform .4s;
    -o-transition: transform .4s;
}

.btn-int:hover {
    transform: scale(1.2);
}

/* STYLE AKHIR NAVBAR */
/* STYLE AWAL SECTION ONE */
.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    margin-top: 20px;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: #9AF226;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #000000;
    border: 2px solid #ffff;
    border-radius: 8px;
    font-size: 19px;
    text-decoration: none;
    color: #ffff;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
    background: transparent;
    color: #9AF226;
}

.btn-box a:hover {
    color: #ffff;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #9AF226;
}

.btn-box a:nth-child(2):hover {
    color: #ffff;
}

.btn-box a:nth-child(2)::before {
    background: #9AF226;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #9AF226;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    width: 100%;
}

.imgsectionone {
    margin-left: 100px;
    float: left;
}

.imgsectionone {
    width: 100%;
}

/* STYLE AKHIR SECTION ONE  */
/* STYLE AWAL SKILLS CARD */


.skills {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 1rem 0 3rem;
    font-family: 'Righteous', cursive;
}

.nft-container {
    height: 100vh;
    max-width: 1060px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nft-img {
    height: auto;
    width: 100%;
    border-radius: 10px;
}

.nft-box {
    position: relative;
    background: #9AF226;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 4rem;
}

.tittle {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
    color: #272829;
}

.price {
    font-size: 0.9rem;
    margin: 0.5rem 0 1rem;
    color: #272829;
}

.buy-btn {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background: #272829;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.buy-btn:hover {
    background: #000;
    transition: 0.4s ease-in-out;
}

.swiper-pagination-bullet-active {
    background: #9AF226 !important;
}

/* STYLE AKHIR SKILLS CARD */
/* STYLE AWAL SERVICES */